@mixin flexBox($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin mainContainer() {
  min-height: 70vh;
  min-width: 70vw;
  border-radius: 50px;
  font-family: "Risque" cursive;
}
