.entry {
  @include flexBox(space-evenly, center, column);
  @include mainContainer;
  background: linear-gradient(20deg, #e36a39 40%, #e0a31d 100%);
  flex-wrap: wrap;
  font-family: $main-font;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.5rem;
    background: linear-gradient(304deg, #3c5274 10%, #1e232b 70%);
    min-width: 40vw;
    border-radius: 5px;
    margin: 3rem 0;
    padding: 0 5px;
  }

  a {
    text-decoration: none;
    font-family: $main-font;
    font-size: calc(6px + 2vmin);
    background-color: $main-color;
    color: $second-accent-color;
    border-radius: 20px;
    transition: transform 0.3s;
    padding: 0.5rem 4rem;

    &:hover {
      background-color: black;
    }
  }

  .bottom-container {
    @include flexBox(space-between, center, row);
    min-width: 50vw;

    h3 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .top-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 50vw;
    max-height: 34vh;

    .challenges-box {
      @include flexBox(space-between, flex-start, row);
      flex-wrap: wrap;
      max-height: 25vh;
      max-width: 22vw;
      background-color: $main-color;
      margin: 0.25rem;
      border-radius: 20px;
      padding: 0.25rem;

      .challenge {
        font-family: $main-font;
        font-size: calc(6px + 2vmin);
        background-color: transparent;
        color: $second-accent-color;
        border: none;
        border-radius: 20px;
        transition: transform 0.3s;
        max-width: 19vw;
        max-height: 10vh;

        &:hover {
          transform: scale(1.1);
        }
      }

      .delete-challenge {
        font-family: $main-font;
        background-color: transparent;
        border: none;
        color: red;
        margin-right: 0.5rem;
        padding: 5px;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.6);
        }
      }
    }
  }
}
